<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3 container">
            <div class="alert alert-danger row" role="alert">
                <h4 class="alert-heading col-12">
                    <%=err.message%>
                </h4>
                <hr>
                <% if (process.env.NODE_ENV !=="production" ) { %>
                    <p class="mb-0">
                        <%=err.stack%>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>