<% layout('layouts/boilerplate') %> 
    <div class="container d-flex justify-content-center align-items-center vh-85">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://img.freepik.com/free-photo/friensds-enjoying-their-winter-camping_23-2149228924.jpg?w=1060&t=st=1688112164~exp=1688112764~hmac=eed85aad79462589704b07b203b73939eb016d729b6112d07e0a8784bfafca4e"
                        alt="" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block w-100 box-shadow-intense">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>